{% extends 'base.html' %}

{% block homeActive %}active{% endblock homeActive %}

{% block css %}

body {
  background-color: #FF0080;
}

.btn{
  position : relative;
  margin-top : -130px;
}

{% endblock css %}

{% block body %}

<div class="fluid-container" id = "homepagetop">

<img src="https://i.ibb.co/6v1nLLn/Homepage.jpg" class="img-fluid" alt="Homepage Cake" width = "100%%">
<a type="button" href = "/menu" class="btn btn-danger btn-sm ml-2">Browse Through The Yummiest Desserts</a>

</div>

{% endblock body %}