{% extends 'base.html' %}

{% block menuActive %}active{% endblock menuActive %}

{% block css %}

{% comment %} body {
background-color: #FF0080;
} {% endcomment %}

{% endblock css %}

{% block body %}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Page Under Development</strong> Check it out later!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% for slide in carosuel_slides %}

{% load menuFilters %}

<div class="container">

<div id="carousel{{categories|categoryFormat:forloop.counter0}}" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel{{categories|categoryFormat:forloop.counter0}}" data-slide-to="0" class="active"></li>
    <li data-target="#carousel{{categories|categoryFormat:forloop.counter0}}" data-slide-to="1"></li>
    <li data-target="#carousel{{categories|categoryFormat:forloop.counter0}}" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    {% for product in slide%}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <div class="card" style="width: 18rem;">
        <img src="/media/{{product.product_preview_image}}" loading="lazy" class="card-img-top" alt="{{product.name}}">
        <div class="card-body">
          <h5 class="card-title">{{product.product_name}}</h5>
          <p class="card-text"><b>Price:</b><br><small>Starting from </small>{{product.product_price}} Rs.</p>
          <a href="/" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <br>
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carousel{{categories|categoryFormat:forloop.counter0}}" role="button"
    data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel{{categories|categoryFormat:forloop.counter0}}" role="button"
    data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>

{% endfor %}

{% endblock body %}