{% extends 'base.html' %}

{% block menuActive %}active{% endblock menuActive %}

{% block css %}

body {
background-color: #FF0080;
}

.carousel-inner {
margin: auto;
}

.col-6{
display: contents;
margin-left: -4px;
}

{% endblock css %}

{% block body %}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Page Under Development</strong> Check it out later!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% for slide in carosuel_slides %}

{% load menuFilters %}

<div class="container my-2">
  <div class="row">
    <div class="col-6 mx-2">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-6 mx-2">
     <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>

  </div>
</div>

{% endfor %}

{% endblock body %}