{% extends 'base.html' %}

{% block menuActive %}active{% endblock menuActive %}

{% block css %}

body {
background-color: #FF0080;
}

.carousel-inner {
margin: auto;
}

{% comment %} .col-6{
display: contents;
margin-left: -4px;
} {% endcomment %}

{% endblock css %}

{% block body %}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Page Under Development</strong> Check it out later!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% for slide in carosuel_slides %}

{% load menuFilters %}

<div class="container"> 
		<div class="row"> 
			<div class="col-lg-6 col-6 mb-4"> 
				<div class="card"> 
					<img class="card-img-top" src="" alt=""> 

					<div class="card-body"> 
						<h5 class="card-title">Card title</h5> 
						<p class="card-text"> 
							Some quick example text to build on 
							the card title and make up the bulk 
							of the card's content. 
						</p> 

						<a href="#" class="btn btn-outline-primary btn-sm"> 
							Card link 
						</a> 
						<a href="#" class="btn btn-outline-secondary btn-sm"> 
							<i class="far fa-heart"></i></a> 
					</div> 
				</div> 
			</div> 
			<div class="col-lg-6 col-6 mb-4"> 
				<div class="card"> 
					<img class="card-img-top" src="" alt=""> 

					<div class="card-body"> 
						<h5 class="card-title">Card title</h5> 
						<p class="card-text"> 
							Some quick example text to build on the 
							card title and make up the bulk of the 
							card's content. 
						</p> 
						
						<a href="#" class="btn btn-outline-primary btn-sm"> 
							Card link 
						</a> 
						<a href="#" class="btn btn-outline-secondary btn-sm"> 
							<i class="far fa-heart"></i></a> 
					</div> 
				</div> 
			</div> 
		</div> 
	</div> 

{% endfor %}

{% endblock body %}