{% extends 'base.html' %}

{% block catalogueActive %}active{% endblock catalogueActive %}

{% block css %}

body {
background-color: #FF0080;
}

{% endblock css %}

{% block body %}

{% load customtags %}

{% for slide in carosuel_slides %}

<div class="container-fluid my-2">
  <h1 style="color:white;"><b>{{categories|accessItem:forloop.counter0}}<b></h1>
</div>


<div id="carousel{{forloop.counter}}" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">

    {% for item in slide %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <img src="/media/{{item.carousel_image}}" loading="lazy" class="d-block w-100" alt="{{item.carousel_name}}">
    </div>

    {% endfor %}
  </div>

  <a class="carousel-control-prev" href="#carousel{{forloop.counter}}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel{{forloop.counter}}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


{% endfor %}

{% endblock body %}